<div id="page-content">
  <div class ="container" id="home-container">
  <div class="jumbotron text-secondary text-center">
    <h1 class="display-4 text-dark borda_texto">Vagas de Empregos</h1>
    <hr class="my-4">
    <%= link_to 'Registrar-se', root_path, class: "btn btn-success btn-lg", role: "button" %>
  </div>
</div>