<h2 class="text-center">Vagas</h2>

<% if @job_opportunities.empty?%>
  <p>Nenhuma vaga criada</p>
<% else %>
  <%= @job_opportunities.each do |job_opportunity| %>
    <div class="card">
      <div class="card-header">
        <%= link_to job_opportunity.title, job_opportunity %>
      </div>
      <div class="card-body">
        <p class="card-text"><%= job_opportunity.description %></p>
      </div>
    </div>
  <% end %>
  
<% end %>

<%= link_to 'Cadastrar vaga', new_job_opportunity_path%>